

  body
  {
    margin:0 0 0 4%;
    margin-right:4%;
  }

  nav
  {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
  }
  nav img
  {
    height:90px;
  }

  nav ul
  {
    display:flex;
    list-style: none;
  }

  nav li
  {
    margin:0 10px 0 20px;
  }

nav ul li .color-blue
{
  border-top: solid rgb(19, 96, 211) 2px;
  
}
ul li .color-blue
{
 color:rgb(19, 96, 211);
}
header ul li a 
{
  text-decoration: none;
}

 ul li .color-black
{
  color:black;
}

.color-blue
{
 padding-top:35px;
}
  .search
  {
    display:flex;
    width:100%;
    margin-right:10px;
  }
  form
  {
    display: flex;
    flex-direction: row;
    height: 40px;
  }

  form button
  {
    color: white;
    border-radius: 0 10px 10px  0;
    width: 80%;
    background-color: #0d67ee;
    font-weight: bold;
    border: none;
  }

  input {
    display: flex;
    width: 100%;
    border: none;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    text-align: center;
    font-weight: bold;
    padding-left:30px;
    margin-left: 1px;
}

  .search div i 
 {
  margin-top:8px;
  width: 30px;
  margin-left:20px;
  height: 10px;
 }

 .search div
 {
  border-radius:10px 0 0 10px;
  border: 3px solid #F2F2F2;
  background-color: rgba(223, 217, 217, 0.767);
 }

  .info
{
  display:flex;
  flex-direction:row;
  align-items:baseline;
}

/*filtre*/
#filtre-conteneur
{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

section .element-filtre i
{
 padding-left:O;
}
.element-filtre
{
  border: 2px solid rgb(214, 213, 213);
  border-radius: 30px;
  border-left: none;
  margin-right: 20px;

}
strong
{
  padding: 10px 20px 8px 10px ;
}

.icone{
  display: flex;
  align-items: center;
}
.icone i
{
  display: flex;
  align-items: center;
  justify-content: space-around; 
}
/* width -> pour apporter
de l'espace entre les éléments*/
.icone i
{
 color: rgba(12, 75, 250, 0.932);
 width: 40px;
 height:40px;
 border-radius:45% 45% 45% 45%;
 background-color: rgb(228, 238, 252);
 margin:-2px;

}

/*hebergement-marseille*/

.element-titre
{
  padding-left: 5%;
  padding-top:3% ;
}

img
{
  width: 165px;
  height: 88px;
  border-radius:9px 9px 0 0;
  display:flex;
  align-items: flex-start;
}
/*hebergement à Marseille*/

.container-hebergement
{
  display:flex;
  flex-direction:column;
  border-radius:10px;
  background-color: rgba(243, 243, 243, 0.733);
  width:65%;
  margin-top:2%;
  margin-left: 0,5px;
}
.ligne-1
{
  display: flex;
  justify-content: space-around;
}
.ligne-2
{
  display:flex;
  justify-content: space-around;
}

.element-bas
{
  padding-bottom: 3%;
  padding-left: 5%;
}

/*Les plus populaires*/

.container-populaire
{
  display:inline-block;
  flex-direction: column;
  border-radius:10px;
  background-color: rgb(243, 243, 243);
  width:32%;
  height: 700px;
}
.container-populaire
{
  position:relative;
  left: 68%;
  margin-bottom:90%;
}

#titre
{
 display: flex;
 justify-content: space-around;
 margin: 0 -50px 0 -50px;
}
.fa-chart-line
{
  padding-top:5%;
}

#element-populaire
{
 display: flex;
 align-items:flex-start;
 flex-direction:column;
 padding-left: 40px;
}
#element-populaire .hotel-soleil img
{
  width: 120px;
  height:110px;
  border-radius: 14px 0 0 14px;
}
.hotel-soleil 
{
  display: flex;
  flex-direction: row;
  align-items:center;
}

#element-populaire .hotel-coeur img
{
  width: 120px;
  height:110px;
  border-radius: 14px 0 0 14px;
}
#element-populaire .hotel-bleu img
{
  width: 120px;
  height:110px;
  border-radius: 14px 0 0 14px;
}
.hotel-soleil
{
  border:solid white;
  border-radius: 10px 10px 10px 10px;
}
.items-soleil 
{
  display: flex;
  flex-direction: column;
  margin: 0 0 -8px 12px;
}

.items-soleil span p
{
font-size: 2%;
}
.hotel-coeur{
  display: flex;
  flex-direction: row;
  align-items:center;
}

.items-coeur
{
  display: flex;
  flex-direction: column;
  margin: 0 0 -8px 12px;
}
.hotel-bleu
{
  display: flex;
  flex-direction: row;
  align-items:center;
}

.items-bleu
{ 
  display: flex;
  flex-direction: column;
  margin: 0 0 -8px 12px;
}








  

  