

  body
  {
    margin:0 0 0 4%;
    margin-right:4%;
  }

  .section-header
  {
    height: 100px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;  
  }
  .colonne-menu a
  {
    color:black;
    text-decoration:none;
  }
  .marge-menu 
  {
    padding-top: 30%;
  }
  .colonne-menu a:hover
  {
    color:blue;  
  }

  .bordure-hebergement
  {
    border-top:solid 1px blue;
    padding-top: 18%; 
    margin: 0 32% 0 0;
  }

  .search
  {
    display:flex;
    flex-direction: row;
  }

  .search div
  {
    display:flex;
    align-items: center;
    padding: 0 0.8% 0 0.8%;
  }

  .filtre
{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right:40%;
  align-content: center;
}

  .i 
  {
    margin-right: 3px;
  }
  .info
{
  display:flex;
  flex-direction:row;
  align-items:baseline;
}

.element-centre img
{
  width:150px;
  height:90px;
}
.element-centre
{
  display: flex;
  padding-bottom: 95px;
}
.img-2
{
  margin-left:-100px;
}
.img-3
{
  margin-left:-60px;
}

.ligne-2 img
{
  width:150px;
  height:90px;
}
aside >.ligne-2
{
  display:flex;
  flex-direction:row;

}
.img-5
{
  margin-left:-70px;
}
.img-6
{
  margin-left:-60px;
}
.colonne-1
{
  position: relative;
  bottom:-80px;
  left:-140px;
}
.colonne-2
{
  position: relative;
  bottom:-80px;
  left:-140px;

}
.colonne-3
{
  position: relative;
  bottom:-80px;
  left:-140px;
}

.colonne-4
{
  position: relative;
  bottom:-80px;
  left:-140px;
}
.colonne-5
{
  position: relative;
  bottom:-80px;
  left:-140px;
}

.colonne-6
{
  position: relative;
  bottom:-80px;
  left:-140px;
}
.element-bas
{
  display:flex;
  margin-top:60px;  
}
.titre
{
  display:flex;
  flex-direction: row;
}
.img
{
  width:40px;
  height:30px;
}


  









  

  